/* * {
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
    color: #333333;
}

.pin_container {
    background-color: #f2f2f2;
    padding: 10px;
    border: 2px solid #CCCCCC;
    max-width: 100%;
    height: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.card {
    width: 31%;
    padding: 10px;
    border: 1px solid black;
}

.card:nth-child(3n-2) {s
    background-color: aqua;
    height: 15rem;
}
  
.card:nth-child(3n-1) {
    background-color: burlywood;
    height: 10rem;
}

.card:nth-child(3n) {
    background-color: chartreuse;
    height: 7rem;
} */

/* .pin_container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto); 

}

.card {
    width: 31%;
    padding: 10px;
    border: 1px solid black;
}

.card:nth-child(3n-2) {
    background-color: aqua;
}
  
.card:nth-child(3n-1) {
    background-color: burlywood;
}

.card:nth-child(3n) {
    background-color: chartreuse;
}  */

.pin_container {
    column-count: 4;
    column-gap: 1em;
}

.card {
    background-color: cornflowerblue;
    display: inline-block;
    /* margin: 0 0 1em; */
    width: 100%;
    height: 300px;
}